* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.btn {
    display: flex;
    padding: 8px 16px;
    align-items: center;
    gap: 4px;
    outline: none;
}

.btn-primary {
    border-radius: 2px;
    background: #1890FF;
    border: 1px solid #1890FF;
    color: #FFF;
}

.btn-outline {
    border-radius: 2px;
    border: 1px solid #D9D9D9;
    background: #FFF;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.00);
    color: #595959;
}

.logo {
    max-width: 100px;
}

.logo img {
    width: 100%;
}

.header {
    height: 124px;
}

.header-box {
    border: 1px solid black;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.footer {
    height: 156px;
}

.footer-box {
    border: 1px solid black;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-nav {
    flex-grow: 1;
}

.container {
    height: 100%;
    max-width: 1230px;
    margin: 0px auto;
    padding-left: 15px;
    padding-right: 15px;
}